
.slds-modal__content {
    border-bottom: none;
}

.pbs-header {
    background-color: var(--pbs-color_white);
}

.header-text{
    font-weight: bold;
}

.pbs-footer{
    background-color: var(--pbs-color_white);
}

.footer-button{
    display: flex;
    justify-content: flex-end;
}
