.container {
    position: relative;
    display: inline-block;
}

.tooltip {
    font: var(--pbs-font_branded);
    background-color: var(--pbs-background-color);
    color: var(--pbs-color_white);
    font-size: 13px;
    visibility: hidden;
    width: 270px;
    text-align: center;
    border-radius: 6px;
    padding: 7px;
    position: absolute;
    z-index: 1;
    right: 1;
    opacity: 0;
    transition: opacity 0.3s;
    bottom: 160%;
    margin-bottom: 0px;
    transform: translateX(-11.5px);
}

.tooltip.show {
    visibility: visible;
    opacity: 1;
}

.tooltip::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: var(--pbs-background-color) transparent transparent transparent;
    top: 100%;
    right: 1;
    left: 0;
    transform: translateX(50%);
}
.icon {
    --slds-c-icon-color-foreground-default: blue;
  }
  
  .icon:hover {
    --slds-c-icon-color-foreground-default: var(--pbs-background-color); 
  }

  .link-text {
    text-wrap: nowrap;
    position: relative;
}