.container {
    position: relative;
    display: inline-block;
}


.tooltip {
    background-color: var(--pbs-background-color);
    color: var(--pbs-color_white);
    font-size: 13px;
    max-width: 270px;
    width: max-content;
    border-radius: var(--lwc-borderRadiusMedium);
    position: absolute;
    left: -1rem;
    bottom: 2.5rem;
}

.icon:hover {
    --slds-c-icon-color-foreground-default: var(--pbs-background-color); 
  }

.link-text {
    text-wrap: nowrap;
}

.link-text:hover {
    color:  var(--pbs-background-color);
    text-decoration: none;
}

