
.slds-vertical-tabs {
    height: 100vh; /* Set the height of the tabs to 100% of the viewport height */
    display: flex; /* Use flexbox to control the layout */
}

.slds-vertical-tabs__nav {
    flex: 0 0 200px; /* Set the width of the nav to 200px and make it non-flexible */
    overflow-y: auto; /* Add vertical scrollbar if needed */
}

.slds-vertical-tabs__content {
    flex: 1; /* Make the content area flexible to take up remaining space */
    overflow-y: auto; /* Add vertical scrollbar if needed */
}

h3{
    font: var(--pbs-font_branded);
    color: var(--pbs-text-color_dark);
    font-size: 40px;
}

.container {
    position: relative;
    display: inline-block;
}

c-tool-tip {
    position: absolute;
    top: 50%;
    left: calc(100% + 10px); /* Position it to the right of the text with 10px margin */
    white-space: nowrap; /* Prevent line breaks */
}

.demo {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
}
