
.slds-vertical-tabs {
    height: auto; 
    display: flex; 
}

.slds-vertical-tabs__nav {
    flex: 0 0 200px; 
    overflow-y: auto;
}

.slds-vertical-tabs__content {
    flex: 1; 
    overflow-y: auto; 
}

h3{
    color: var(--pbs-text-color_dark);
    font-size: 40px;
}

.container {
    position: relative;
    display: inline-block;
    justify-content: left;
    align-items: left;
}


.demo {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
    padding: 10px;
    background-color: var(--pbs-color_white_2);
    border-radius: 5px;
}

.cmp-library{
    font: var(--pbs-font_branded);
}

.slds-vertical-tabs__link .slds-truncate {
    font: var(--pbs-font_branded);
    font-size: 16px; 
    font-weight: bold;
    text-transform: uppercase;
}

.custom-card{
    width: 50%;
}

