.main {
    border: 1px solid var(--pbs-color_grey);
    border-radius: var(--lwc-borderRadiusMedium);
    font: var(--pbs-font_branded);
    background-color: var(--pbs-color_white);
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.header-text{
    color: var(--pbs-text-color_dark);
    font-weight: bold;
}

.card-footer {
    display: flex;
    justify-content: right;
}

.card-header.variant-b {
    background-color: var(--pbs-color_light_gray);
    border-radius: var(--lwc-borderRadiusMedium);
}


.card.variant-c .card-body{
    background-color: var(--pbs-color_light_gray);
    border-radius: var(--lwc-borderRadiusMedium);
}

.card-title{
    font-weight: bold;
    color: var(--pbs-text-color_dark);
}