.card {
    border: 1px solid var(--pbs-color_white);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    font: var(--pbs-font_branded);
    background-color: var(--pbs-color_white);
}

.custom-card {
    padding: 20px;
    margin-bottom: 20px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header-text{
    color: var(--pbs-text-color_dark);
}

.action-buttons {
    display: flex;
}

.title{
    font-size: 30px;
}
.card-body {
    margin-bottom: 10px;
}

.card-footer {
    display: flex;
    justify-content: center;
}

.footer-buttons {
    display: flex;
}

.card.variant-a {
    border: 1px solid var(--pbs-color_grey);
}

.card-header.variant-a {
    background-color: var(--pbs-color_grey);
}

.card.variant-b {
    border: 1px solid var(--pbs-color_grey);
}

.card-header.variant-b {
    background-color: var(--pbs-color_grey);
}

.card.variant-b .card-body {
    background-color: var(--pbs-color_white);
}

.card.variant-c .card-body{
    background-color: var(--pbs-color_grey);
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    color: var(--pbs-text-color_dark);
}