.container {
    position: relative;
    display: inline-block;
    justify-content: left;
    align-items: left;
}

c-tool-tip {
    display: relative;
    font-size: 14px;
    padding: 10px;
    top: 50px;
}




.demo {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: left;
    padding: 25px;
    background-color: var(--pbs-color_white_2);
    border-radius: 5px;
}